<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 引入属性文件 -->
	<properties resource="cn/com/dhcc/fzep/alarm/resources/jdbc.properties"/>
	
	<!-- 配置类别名 -->
	<typeAliases>
	<!-- 
		<typeAlias alias="Emp" type="com.tenghu.mybatis.model.Emp"/>
	 -->
	</typeAliases>
	
	<environments default="kyland">
		<!-- 东土MySql -->
		<environment id="kyland">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="${kyland.driver}"/>
				<property name="url" value="${kyland.url}"/>
				<property name="username" value="${kyland.username}"/>
				<property name="password" value="${kyland.password}"/>
				<property name="poolPingEnabled" value="true"/>
                <property name="poolPingQuery" value="select now()"/>
                <property name="poolPingConnectionsNotUsedFor" value="3600000"/>
			</dataSource>
		</environment>
		
		<!-- 科大 Sqlserver数据库 -->
		<environment id="ustc">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="${ustc.driver}"/>
				<property name="url" value="${ustc.url}"/>
				<property name="username" value="${ustc.username}"/>
				<property name="password" value="${ustc.password}"/>
			</dataSource>
		</environment>
		
	</environments>
	
	<!-- 配置映射文件 -->
	<mappers>
		<!-- 东土 -->
		<mapper resource="cn/com/dhcc/fzep/alarm/data/kyland/AlarmmgrrmMapper.xml" />
		
		<!-- 科大 -->
		<!-- 
		<mapper resource="cn/com/dhcc/fzep/alarm/data/ustc/USTCAlarmMapper-mysql.xml" />
		<mapper resource="cn/com/dhcc/fzep/alarm/data/ustc/USTCAlarmMapper-sqlserver.xml" />
		 -->
		<mapper resource="cn/com/dhcc/fzep/alarm/data/ustc/vo/CurrentAlarmMapper.xml" />
		<mapper resource="cn/com/dhcc/fzep/alarm/data/ustc/vo/HistoryAlarmMapper.xml" />
		<mapper resource="cn/com/dhcc/fzep/alarm/data/ustc/vo/UserMapper.xml" />
	</mappers>
</configuration>